<md-card>
  <md-card-title>Input</md-card-title>
  <md-card-subtitle>Basic input component of Material 2 - customized view desktop vs mobile</md-card-subtitle>
  <md-card-content>
    <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
      <label class="ml-xs mr-xs" style="width: 100%;"> <span>Name</span>
        <md-input-container floatPlaceholder="never" class="md-block">
          <input mdInput placeholder="John Smith" type="text">
        </md-input-container>
      </label>
      <label class="ml-xs mr-xs" style="width: 100%;"> <span>Disabled</span>
        <md-input-container floatPlaceholder="never" class="md-block">
          <input mdInput placeholder="abc@xyz.com" type="email" value="johnsmith@gmail.com" disabled>
        </md-input-container>
      </label>
    </div>
    <p>Compact Version - 'compact' class added to <code>md-input-container</code></p>
    <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
      <label class="ml-xs mr-xs" style="width: 100%;"> <span>Default Color</span>
        <md-input-container floatPlaceholder="never" class="compact md-block">
          <input mdInput placeholder="enter a value" type="text">
        </md-input-container>
      </label>
      <label class="ml-xs mr-xs" style="width: 100%;"> <span>Read-only</span>
        <md-input-container floatPlaceholder="never" class="compact md-block">
          <input mdInput placeholder="enter a value" type="text" value="This is readonly" readonly>
        </md-input-container>
      </label>
    </div>
    <p><code>dividerColor</code> used to set border-color on focus</p>
    <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
      <label class="ml-xs mr-xs" style="width: 100%;"> <span>Primary Color</span>
        <md-input-container dividerColor="primary" floatPlaceholder="never" class="md-block">
          <input mdInput placeholder="enter a value" type="text">
        </md-input-container>
      </label>
      <label class="ml-xs mr-xs" style="width: 100%;"> <span>Accent/Secondary Color</span>
        <md-input-container dividerColor="accent" floatPlaceholder="never" class="md-block">
          <input mdInput placeholder="enter a value" type="text">
        </md-input-container>
      </label>
      <label class="ml-xs mr-xs" style="width: 100%;"> <span>Warn Color</span>
        <md-input-container dividerColor="warn" floatPlaceholder="never" class="md-block">
          <input mdInput placeholder="enter a value" type="text">
        </md-input-container>
      </label>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
      <label class="ml-xs mr-xs" style="width: 100%;"> <span>With Hint Label</span>
        <md-input-container hintLabel="Should be easy to remember but difficult to guess" floatPlaceholder="never" class="md-block">
          <input mdInput placeholder="Password" type="password">
        </md-input-container>
      </label>
      <label class="ml-xs mr-xs" style="width: 100%;">
      <span>With Error Message</span>
      <md-input-container hintLabel="Should be easy to remember"  dividerColor="primary" floatPlaceholder="never" class="md-block">
        <input mdInput placeholder="John Smith" type="text" [(ngModel)]="model.name"
            #name="ngModel" md-no-asterisk required>
        <div [hidden]="name.valid || name.pristine" class="error"> Name is required </div>
      </md-input-container>
      </label>
    </div>
  </md-card-content>
</md-card>
