/* These are new namespaces that are used in the app/layouts/auth template */

md-toolbar.secondary-header {
  padding: 0 8px;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.sidenav-right-container {
  border: none;
}

.sidenav-menu-select {
  margin-left: 15px;
  margin-top: 30px;
  padding-right:10px;
}

.sidenav-right-content {
  padding:75px 15px 15px 15px ;
}

.fixed-position {
  position:fixed !important;
}
 /* This is a duplicate class that we may want to rename and customize */
.app-inner {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 64px);
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
