
md-sidenav.mat-sidenav.mat-sidenav-opened:not(.mat-sidenav-side),
md-sidenav.mat-sidenav.mat-sidenav-opening:not(.mat-sidenav-side) {
  border: 1px solid #e8e8e8;
  box-shadow: 2px 0px 1.5px 0 rgba(133, 133, 133, 0.48), -2px 0px 1.5px 0 rgba(133, 133, 133, 0.48);
}

md-sidenav.mat-sidenav {
  ul {
    padding: 0px 0 30px 0;
    margin: 0;
    list-style: none;
    float: left;
    width: 100%;
    sidenav-item {
      li {
        padding: 14px 32px;
        display: block;
        position: relative;
        & > .sec-title {
          color: map-get($accent, 300);
          font-size: 0.875rem;
          & + a {
            margin-top: -4px;
          }
        }
        & > a {
          display: block;
          color: #56757d;
          font-size: 1rem;
          text-decoration: none;
          position: relative;
          .menu-title {
          }
        }
        &:hover {
          & > a {
            color: #47b555;
          }
        }
        &.show-drop {
          & > a{
            font-size: 1.25rem;
            color: #03363d;
            &:after {
              font-family: "Material Icons";
              content: "\E5C5";
              position: absolute;
              right: -4px;
              top: -4px;
              color: #47b555;
              font-size: 24px;
              transition: all 0.5s ease;
            }
          }
          .collapse-side {
            padding-top: 0;
            overflow: hidden;
            max-height: 0;
            transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
            transition-property: max-height;
            & > ul {
              padding: 0;
              margin: 0;
              sidenav-item {
                li {
                  padding: 12px 0;
                }
                &:first-of-type {
                  li {
                    padding-top: 24px;
                  }
                }
              }
            }
          }

          &.active {
            background-color: map-get($accent,50);
            padding-bottom: 24px;
            margin-bottom: 14px;
            & > a {
              &:after {
                transform: rotate(-180deg);
              }
            }
            .collapse-side {
              max-height: 1000px;
            }
          }
        }
      }
    }
  }
}

.mat-sidenav.mat-sidenav-side[ng-reflect-align="top"] {
  width: 100% !important;
  transform: translate3d(0, -100%, 0);
  height: 48px !important;
  text-align: center;
  padding: 15px 0 0;
  &:before {
    font-family: 'Material Icons';
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" 1;
    font-style: normal;
    text-transform: none;
    line-height: 20px;
    vertical-align: middle;
    font-size: 24px;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .btn-callout-action {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    background: 0 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin-left: 0;
    font-weight: 400;
    text-decoration: underline;
  }
  &.success {
    background-color: #64be1e;
    color: #ffffff;
    &:before {
      content: 'check_circle';
      color: #ffffff;
    }
  }
  &.error {
    background-color: #ff6868;
    color: #ffffff;
    &:before {
      content: 'warning';
      color: #ffffff;
    }
  }
  &.warning {
    background-color: #ffc841;
    color: #021a25;
    &:before {
      content: 'warning';
      color: #ffffff;
    }
  }
  &.info {
    background-color: #fff5dc;
    color: #021a25;
    &:before {
      content: 'info';
      color: #0e0e0e;
    }
  }  
  &.mat-sidenav-opening, &.mat-sidenav-opened {
    transform: translate3d(0, 0, 0);    
    & + div + div  {
      transform: translate3d(0px, 48px, 0px) !important;
      margin-left: 0 !important;
    }
  }
}


/* This CSS for demo purposes only - plan to refactor... ddeloy */

.sidenav-container {
  border: 1px solid #CCCCCC;

  .mat-sidenav-focus-trap > .cdk-focus-trap-content {
    padding: 10px;
  }
}

.sidenav-content {
  padding: 15px;
}

.sidenav-menu {
  width:300px;
  border-right:1px solid #CCCCCC;
}

.sidebar-menu-panel {
  width:300px !important;
}

md-sidenav.sm {
  width:25% !important;
}

md-sidenav.med {
   width:50% !important;
}

md-sidenav.lg {
  width:75% !important;
}
md-sidenav.xl {
   width:100% !important;
}
.sidenav-select {
  margin-left:15px;
  margin-top:30px;

}
.p-10 {
  padding:10px;
}

// No padding for sidenav inside card - need to make clearer
.sidenav-container > .mat-sidenav-content {
  padding: 0rem !important;
}

md-sidenav-container.backdrop-hidden > .mat-sidenav-backdrop.mat-sidenav-shown {
  visibility: hidden !important;
}
