<md-card class="demo-dialog-card">
  <md-card-title>Dialog - Custom</md-card-title>
  <md-card-subtitle>This is a custom flavor of MdDialog.</md-card-subtitle>
  <md-card-content>
    <button md-raised-button color="primary" (click)="openCustom()" [disabled]="dialogRef">Open custom dialog</button><br/><br/>
    <a href="https://plnkr.co/edit/5p2PLQRmM49i1qaOfrsJ?p=preview" target="_blank">View Dialog Plunker Here</a>
    <p><strong>Sample Use Case – You need to create a view with the following elements:</strong></p>

    <ul>
      <li>Form
        <ul>
          <li>Select</li>
          <li>Checkbox</li>
          <li>Radio</li>
          <li>Dialog - Save</li>
        </ul>
      </li>
      <li>SnackBar: Called after form is saved</li>
    </ul>
    <p><strong>Our Library Module is imported at root level</strong></p>
    <ul>
      <li>Styles are imported globally with 1 @import – and will be applied to any md-components/elements.</li>
      <li>We can simply declare a dialogRef and use material  mdDialog.</li>
      <li>The dialog will have a few config options – and will pick up styling from our library.</li>
    </ul>

    <strong>app.component.ts</strong>
    <pre>
    import &#123; Component } from '@angular/core';
    import &#123;MdDialog, MdDialogRef, MdSnackBar} from '@angular/material';
    /* need to import these separate from the Library module because they are
      dynamic components – but they will still inherit our custom theming */

    @Component(&#123;
    selector: 'app-root',
    templateUrl: './app.component.html',
    styleUrls: ['./app.component.scss']
    })

    export class AppComponent &#123;
    states = [&#123;code: 'AL', name: 'Alabama'},&#123;code: 'CA', name: 'California'}]; // populate select
    selectedOption: string; //display user selected dialog option – pass to SnackBar instance

    // constructor for dialog and snackbar
    constructor(public dialog: MdDialog, public snackBar:MdSnackBar) &#123;}

    // Inside parent component – simply use the mdDialog by creating a dialogRef
    openSaveDialog() &#123;
    let dialogRef = this.dialog.open(SaveDialog, &#123;
    disableClose: true,
    width: '75%',
    height: '100%',
    backdropClass:'cdk-overlay-custom-backdrop',
    /* supply a custom backdrop class. No initial value - picks up default class for basic modal */
    });

    dialogRef.afterClosed().subscribe(result => &#123;
    this.selectedOption = result;
    // call the SnackBar to open after dialog closes
    this.snackBar.open(result,'Save',&#123;duration:2000});
    });
    }
    }

    // Child component for Dialog template
    @Component(&#123;
    template:
    `
    &lt;h1 md-dialog-title>Save Dialog&lt;/h1>
    &lt;div md-dialog-content>Would you like to save?&lt;/div>
    &lt;div md-dialog-actions>
      &lt;button md-button (click)="dialogRef.close('Yes')">Yes&lt;/button>
      &lt;button md-button (click)="dialogRef.close('No')">No&lt;/button>
      &lt;button md-button (click)="dialogRef.close()">Close&lt;/button>
    &lt;/div>
    `
    })

    export class SaveDialog&#123;
    constructor(public dialogRef: MdDialogRef&lt;SaveDialog>) &#123;
    }}
    </pre>
    <br/>
    <strong>app.component.html</strong>
    <pre>
    &lt;form class="full-width">
      &lt;md-card>
        &lt;table>
         &lt;tr>
          &lt;md-input-container>
              &lt;input mdInput placeholder="First Name">
           &lt;/md-input-container>
          &lt;/tr>
          &lt;tr>
            &lt;md-input-container>
              &lt;input mdInput placeholder="Last Name">
            &lt;/md-input-container>
         &lt;/tr>
        &lt;/table>
      &lt;/md-card>
      &lt;md-card>
        &lt;md-radio-button value="f">Female&lt;/md-radio-button>
        &lt;md-radio-button value="m">Male&lt;/md-radio-button>
      &lt;/md-card>
      &lt;md-card>
        &lt;md-checkbox>Weather Update&lt;/md-checkbox>
        &lt;md-checkbox>Marketing Mails&lt;/md-checkbox>
        &lt;md-checkbox>SMS&lt;/md-checkbox>
      &lt;/md-card>
      &lt;md-card>
        &lt;md-select placeholder="State">
         &lt;md-option *ngFor="let state of states" [value]="state.code">
            &#123;&#8203;&#123;state.name}&#8203;}
        &lt;/md-option>
        &lt;/md-select>
      &lt;/md-card>
      &lt;md-card>
      <strong style="color:red;">&lt;button md-raised-button (click)="openSaveDialog()" color="primary">
        Save Dialog
      &lt;/button> Selected Option: &#123;&#8203;&#123;selectedOption}&#8203;}</strong>
      &lt;/md-card>
    &lt;/form>
    </pre>
    <strong>app.module.ts</strong>
    <pre>
    // declare dialogRef as entryComponent because created dynamically
    entryComponents: [
    SaveDialog<br/>
    ],
    </pre>
  </md-card-content>
</md-card>
