<md-card>
  <md-card-title>Alerts</md-card-title>
  <md-card-subtitle>Bootstrap style alert messaging</md-card-subtitle>

  <md-card-content>

    <article>
      <h3>Bootsrap Style Alerts - without the Bootstrap</h3>
      <div class="box box-default">
        <div class="box-body">
          <div class="callout callout-success">
            <h4>Callout heading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, alias, in accusantium totam adipisci vel et suscipit quidem libero pariatur minus ratione quo doloremque error at nemo incidunt dicta quia?</p>
          </div>
          <div class="callout callout-info">
            <h4>Callout heading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, alias, in accusantium totam adipisci vel et suscipit quidem libero pariatur minus ratione quo doloremque error at nemo incidunt dicta quia?</p>
          </div>
          <div class="callout callout-warning">
            <h4>Callout heading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, alias, in accusantium totam adipisci vel et suscipit quidem libero pariatur minus ratione quo doloremque error at nemo incidunt dicta quia?</p>
          </div>
          <div class="callout callout-danger">
            <h4>Callout heading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, alias, in accusantium totam adipisci vel et suscipit quidem libero pariatur minus ratione quo doloremque error at nemo incidunt dicta quia?</p>
          </div>
        </div>
      </div>
    </article>

  </md-card-content>
</md-card>
