
  <md-card>
    <md-card-title>Chips</md-card-title>
    <md-card-subtitle>an input component for building lists of strings or objects. The list items are displayed as 'chips'.</md-card-subtitle>
    
    <md-card-content>
      <div class="pb-1">
        <p class="mt-0">Simple</p>
        <md-chip-list>
          <md-chip>
            <span class="close">
              <md-icon>close</md-icon>
            </span>
            Chip 1
          </md-chip>
          <md-chip>
            <span class="close">
              <md-icon>close</md-icon>
            </span>
            Chip 2
          </md-chip>
          <md-chip>
            <span class="close">
              <md-icon>close</md-icon>
            </span>
            Chip 3
          </md-chip>
        </md-chip-list>
      </div>

      <p>Advanced</p>
      <md-chip-list selectable="false">
        <md-chip color="primary" selected="true">Selected - Primary</md-chip>
        <md-chip color="accent" selected="true">Selected - Accent</md-chip>
      </md-chip-list>
    </md-card-content>
  </md-card>