.block-text {
    display: block;
}

.example-viewer {
    border: 1px solid rgba(0,0,0,.03);
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    margin: 4px;
    .example-viewer-title {
        padding: 8px 20px;
        color: rgba(0,0,0,.54);
        background: rgba(0,0,0,.03);
    }
    .example-viewer-source {
        padding: 0 0 10px 30px;
        min-height: 50px;
        border-bottom: 1px solid rgba(0,0,0,.12);
        pre {
            white-space: pre-wrap;
            font-size: 12px;
            .hljs-name, .hljs-section, .hljs-selector-class,
            .hljs-selector-id, .hljs-title {
                color: #268bd2;
            }
            .hljs-attr, .hljs-attribute, .hljs-class .hljs-title,
            .hljs-template-variable, .hljs-type, .hljs-variable {
                color: #b58900;
            }
            .hljs-doctag, .hljs-literal, .hljs-meta .hljs-meta-string,
            .hljs-number, .hljs-regexp, .hljs-string {
                color: #2aa198;
            }
            .hljs-comment {
                color: #b0bec5;
            }

            .hljs-meta,.hljs-regexp,.hljs-selector-tag,.hljs-tag {
                color: #39adb5
            }

            .hljs-string,.hljs-subst {
                color: #91b859
            }

            .hljs-number,.hljs-template-variable,.hljs-variable {
                color: #80cbc4
            }

            .hljs-attribute,.hljs-keyword,.hljs-name,.hljs-type {
                color: #7c4dff
            }

            .hljs-built_in,.hljs-builtin-name,.hljs-bullet,.hljs-function>.hljs-title,.hljs-link,.hljs-symbol,.hljs-title {
                color: #6182b8
            }

            .hljs-params {
                color: #f76d47
            }

            .hljs-addition {
                color: #7c4dff
            }

            .hljs-addition,.hljs-deletion {
                display: inline-block;
                width: 100%
            }

            .hljs-deletion {
                color: #e53935
            }

            .hljs-selector-class,.hljs-selector-id {
                color: #8796b0
            }

            .hljs-emphasis {
                font-style: italic
            }

            .hljs-strong {
                font-weight: 700
            }

            .hljs-link {
                text-decoration: underline
            }
        }
        & > .mat-tab-group {
            & > .mat-tab-header {
                margin-left: -30px;
            }
            & > .mat-tab-body-wrapper {
                & > .mat-tab-body {
                    padding-top: 15px;
                }
            }
        }        
    }
    .example-viewer-body {
        padding: 30px;
    }
    & + .example-viewer {
        margin-top: 20px;
    }
}