.block-text {
    display: block;
}

.example-viewer {
    border: 1px solid rgba(0,0,0,.03);
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    margin: 4px;
    .example-viewer-title {
        padding: 8px 20px;
        color: rgba(0,0,0,.54);
        background: rgba(0,0,0,.03);
    }
    .example-viewer-source {
        padding: 0 0 10px 30px;
        min-height: 50px;
        border-bottom: 1px solid rgba(0,0,0,.12);
        pre {
            white-space: pre-wrap;
            font-size: 12px;
            .hljs-name, .hljs-section, .hljs-selector-class,
            .hljs-selector-id, .hljs-title {
                color: #268bd2;
            }
            .hljs-attr, .hljs-attribute, .hljs-class .hljs-title,
            .hljs-template-variable, .hljs-type, .hljs-variable {
                color: #b58900;
            }
            .hljs-doctag, .hljs-literal, .hljs-meta .hljs-meta-string,
            .hljs-number, .hljs-regexp, .hljs-string {
                color: #2aa198;
            }
            .hljs-comment {
                color: #a9e84d;
            }
        }        
    }
    .example-viewer-body {
        padding: 30px;
    }
    & + .example-viewer {
        margin-top: 20px;
    }
}