<md-card class="page-card">
  <md-card-title>Typography</md-card-title>
  <md-card-subtitle>
    Customized typography for headings, body text, and more.
  </md-card-subtitle>
  <md-card-content>
    <md-card>
    <!--  <md-card-title>Headings and Paragraphs</md-card-title>
      <md-card-subtitle>
      All HTML headings, &lt;h1> through &lt;h6>, are available.
      </md-card-subtitle> -->

      <md-card-content>

    <h1>h1 heading</h1>
    <p>Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>

    <h2>h2 heading</h2>
    <p>Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>

    <h3>h3 heading</h3>
    <p>Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>

    <h4>h4 heading</h4>
    <p>Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>

    <h5>h5 heading</h5>
    <p>Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>

    <h6>h6 heading</h6>
    <p>Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>

    <p class="text">Text<br/>&lt;p class="text">Text&lt;/p></p>

    <p><small>Small</small><br/>&lt;small>Small&lt;/small></p>

    <p class="small">Small<br/>&lt;p class="small">Small&lt;/p></p>

    <p class="tiny">Tiny<br/>&lt;p class="tiny">Tiny&lt;/p></p>



      </md-card-content>

    </md-card>





  </md-card-content>
</md-card>
