<md-card>
  <md-card-title>Checkbox</md-card-title>
  <md-card-subtitle>md-checkbox is a Material Design selection control that allows users to make a binary choice for a predetermined conditioned</md-card-subtitle>
  <md-card-content>
    <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
      <md-checkbox class="ml-xs mr-xs">
        Default Checkbox
      </md-checkbox>
      <md-checkbox class="ml-xs mr-xs" indeterminate="true">
        Indeterminate Checkbox
      </md-checkbox>
      <md-checkbox class="ml-xs mr-xs" disabled>
        Disabled Checkbox
      </md-checkbox>
    </div>

    <p><code>color</code> attribute on <code>md-checkbox</code> set to <code>primary</code>, <code>accent</code> and <code>warn</code>
    <br><em>Note:</em> Default and Accent are same. If no color set, accent would be used</p>
    <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
      <md-checkbox class="ml-xs mr-xs" color="primary">
        Primary Checkbox
      </md-checkbox>
      <md-checkbox class="ml-xs mr-xs"  color="accent">
        Accent Checkbox
      </md-checkbox>
      <md-checkbox class="ml-xs mr-xs"  color="warn">
        Warn Checkbox
      </md-checkbox>
    </div>

    <p>Alignment - checkbox can be positioned before or after its label by setting
      <code>align</code> attribute to <code>start</code> or <code>end</code>, respectively.</p>
    <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
      <md-checkbox class="ml-xs mr-xs" color="primary" align="start">
        Before Label
      </md-checkbox>
      <md-checkbox class="ml-xs mr-xs"  color="primary" align="end">
        After Label
      </md-checkbox>
    </div>

    <p>Nested Checklist</p>
    <app-md-checkbox-demo-nested-checklist></app-md-checkbox-demo-nested-checklist>
  </md-card-content>
</md-card>
