<md-card>
  <md-card-title>Lists</md-card-title>
  <md-card-subtitle>md-list is a container component that wraps and formats a series of line items</md-card-subtitle>
  <md-card-content>
    <p>Normal lists</p>
    <md-card>
      <md-list>
        <h3 md-subheader>Items</h3>
        <md-list-item *ngFor="let item of items">
          {{item}}
        </md-list-item>
      </md-list>
    </md-card>
    <p>Dense lists</p>
    <md-card>
      <md-list dense>
        <h3 md-subheader>Items</h3>
        <md-list-item *ngFor="let item of items">
          {{item}}
        </md-list-item>
      </md-list>
    </md-card>

    <p>Multiline dense list</p>
    <md-card>
      <md-list dense>
        <md-list-item *ngFor="let contact of contacts">
          <h3 md-line>{{contact.name}}</h3>
          <p md-line>{{contact.headline}}</p>
        </md-list-item>
      </md-list>
    </md-card>

   <p>Checkbox list</p>
    <md-card>
      <md-list>
        <ng-template ngFor let-todo [ngForOf]="todos">
          <md-list-item>
            <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
              <div fxFlex>
                <md-checkbox [checked]="todo.finished">
                  {{todo.name}}
                </md-checkbox>
              </div>
              <div><md-icon>more_horiz</md-icon></div>
            </div>
          </md-list-item>
        </ng-template>
      </md-list>
    </md-card>

