<md-card>
  <md-card-title>Toolbar</md-card-title>
  <md-card-subtitle>MdToolbar is a vertical aligned bar, which can hold the application title or actions.</md-card-subtitle>
  <md-card-content>
    <p>The default color toolbar:</p>
    <md-toolbar>
      <button md-button class="button-collapse" md-icon-button (click)="onMenuClick()">
        <md-icon>menu</md-icon>
      </button>
      <a href="#" class="brand-logo">Logo</a>
      <ul class="collapse-on-sm" [ngClass]="{'shown': showMenu}">
        <li class="active"><a href="#">File</a></li>       
        <li [ngClass]="{'open': open1}">
          <a (click)="open1=!open1">Help</a>
          <ul class="main-menu">
            <li><a href="#">Action One</a></li>
            <li><a href="#">Action Two</a></li>
            <li><a href="#">Action Three</a></li>
            <li class="divider"></li>
            <li [ngClass]="{'open': open2}">
              <a (click)="open2=!open2">
                Another Menu
                <span class="material-icons">keyboard_arrow_right</span>
              </a>
              <ul class="sub-menu">
                <li><a href="#">Action One</a></li>
                <li><a href="#">Action Two</a></li>
                <li [ngClass]="{'open': open3}">
                  <a (click)="open3=!open3">
                    Another Menu
                    <span class="material-icons">keyboard_arrow_right</span>
                  </a>
                  <ul class="sub-menu">
                    <li><a href="#">Action One</a></li>
                    <li><a href="#">Action Two</a></li>
                    <li><a href="#">Action Three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li [ngClass]="{'open': open11}">
          <a (click)="open11=!open11">View</a>
          <ul class="main-menu">
            <li *ngFor="let item of viewItems" [ngClass]="{'cat-name': item.items}">
              <a *ngIf="!item.items" href="#">{{item.text}}</a>
              <span *ngIf="item.items">{{item.text}}</span>
              <ul *ngIf="item.items" class="cat-menu">
                <li *ngFor="let subItem of item.items"><a href="#">{{subItem.text}}</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li [ngClass]="{'open': open21}">
          <a (click)="open21=!open21">Edit</a>
          <ul class="main-menu">
            <li *ngFor="let item of editItems"
              [ngClass]="{'cat-name': item.items, 'more-cats': (editItems.length > 2 && item.items)}">
              <a *ngIf="!item.items" href="#">{{item.text}}</a>
              <span *ngIf="item.items">{{item.text}}</span>
              <ul *ngIf="item.items" class="cat-menu">
                <li *ngFor="let subItem of item.items"><a href="#">{{subItem.text}}</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <span fxFlex></span>
      <button md-button href="#" md-icon-button color="primary">
        <md-icon>apps</md-icon>
      </button>
      <button md-button href="#" class="btn-user" md-icon-button>
        <span>KJ</span>
      </button>
      <button md-button href="#" class="btn-notification" md-icon-button color="primary">
        <md-icon>notifications_none</md-icon>
        <span class="badge">2</span>
      </button>
    </md-toolbar>
    <p>The accent color toolbar:</p>
    <md-toolbar color="accent">
      <button md-button href="#" md-icon-button>
        <md-icon>menu</md-icon>
      </button>
      <span>Accent Toolbar</span>
      <span fxFlex></span>
      <button md-button href="#" md-icon-button>
        <md-icon>search</md-icon>
      </button>
      <button md-button href="#" md-icon-button>
        <md-icon>more_vert</md-icon>
      </button>
    </md-toolbar>
    <p>An accent toolbar using the second toolbar row:</p>
    <md-toolbar color="accent">
      <md-toolbar-row>
        <span>Second Line Toolbar</span>
      </md-toolbar-row>
    </md-toolbar>
    <p>A primary toolbar using the third toolbar row:</p>
    <md-toolbar color="primary">
      <md-toolbar-row></md-toolbar-row>
      <md-toolbar-row>
        <span fxFlex>Third Line Toolbar</span>
        <md-icon>favorite</md-icon>
        <md-icon>delete</md-icon>
      </md-toolbar-row>
    </md-toolbar>
  </md-card-content>
</md-card>
