<md-card>
  <md-card-title>Toolbar</md-card-title>
  <md-card-subtitle>MdToolbar is a vertical aligned bar, which can hold the application title or actions.</md-card-subtitle>
  <md-card-content>
    <p>The default color toolbar:</p>
    <md-toolbar>
      <button md-button class="button-collapse" md-icon-button (click)="onMenuClick()">
        <md-icon>menu</md-icon>
      </button>
      <a href="#" class="brand-logo">Logo</a>
      <top-menu [color]="color" [items]="menuItems" [ngClass]="{'shown': showMenu}"></top-menu>
      <span fxFlex></span>
      <button md-button href="#" md-icon-button color="primary">
        <md-icon>apps</md-icon>
      </button>
      <button md-button href="#" class="btn-user" md-icon-button>
        <span>KJ</span>
      </button>
      <button md-button href="#" class="btn-notification" md-icon-button color="primary">
        <md-icon>notifications_none</md-icon>
        <span class="badge">2</span>
      </button>
    </md-toolbar>
    <p>Theming - <code>color</code> set to <code>primary</code></p>
    <md-toolbar color="primary">
      <span>Accent Toolbar</span>
      <span fxFlex></span>
      <button md-button href="#" md-icon-button>
        <md-icon>more_vert</md-icon>
      </button>
    </md-toolbar>
  </md-card-content>
</md-card>
