<md-card>
  <md-card-title>Buttons</md-card-title>
  <md-card-subtitle>md-button is an HTML button or a tag enhanced with styling and animation to match the Material Design button spec</md-card-subtitle>
  <md-card-content>
    <div class="pb-1">
      <p>Dropdown buttons</p>
      <!-- Single button -->
      <div class="btn-group mr-1" [ngClass]="{'open': open1}">
        <button md-raised-button color="primary"
          data-toggle="dropdown" class="dropdown-toggle" (click)="open1=!open1">
          Action - Hard Coded
          <md-icon>keyboard_arrow_down</md-icon>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Action One</a></li>
            <li><a href="#">Action Two</a></li>
            <li><a href="#">Action Three</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <!-- Split button -->
      <div class="btn-group mr-1" [ngClass]="{'open': open2}">
        <button md-raised-button color="primary">Send</button>
        <button md-raised-button color="primary"
          data-toggle="dropdown" class="dropdown-toggle" (click)="open2=!open2">
          <md-icon>keyboard_arrow_down</md-icon>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Action One</a></li>
            <li><a href="#">Action Two</a></li>
            <li><a href="#">Action Three</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
      </div>

      <!-- Hard coded dropdown for button -->
      <p>Dropdown button - Hard coded material menu - not custom</p>
      <!-- Single button -->
      <div class="btn-group mr-1">        
        <button [mdMenuTriggerFor]="appMenu" md-raised-button color="primary">
          Action - Hard Coded
          <md-icon>keyboard_arrow_down</md-icon>
        </button>
        <md-menu #appMenu [overlapTrigger]="false">
          <li md-menu-item>First menu item</li>
          <li md-menu-item>Second menu item</li>
          <li md-menu-item>Third menu item</li>
          <li class="divider"></li>
          <li md-menu-item>Fourth menu item</li>
        </md-menu>
      </div>
      <!-- Split button -->
      <div class="btn-group mr-1">
        <button md-raised-button color="primary">Send</button>        
        <button [mdMenuTriggerFor]="appMenu1" md-raised-button color="primary">
          <md-icon>keyboard_arrow_down</md-icon>
        </button>
        <md-menu #appMenu1 [overlapTrigger]="false">
          <li md-menu-item>First menu item</li>
          <li md-menu-item>Second menu item</li>
          <li md-menu-item>Third menu item</li>
          <li class="divider"></li>
          <li md-menu-item>Fourth menu item</li>
        </md-menu>
      </div>      
    </div>

    

    <div class="pb-1">
      <p>Dropdown buttons - Flat Buttons</p>
      <!-- Single button -->
      <div class="btn-group mr-1">        
        <button [mdMenuTriggerFor]="appMenu2" md-button color="primary">
          Action
          <md-icon>keyboard_arrow_down</md-icon>
        </button>
        <md-menu #appMenu2 [overlapTrigger]="false">
          <li md-menu-item>Action One</li>
          <li md-menu-item>Action Two</li>
          <li md-menu-item>Action Three</li>
          <li class="divider"></li>
          <li md-menu-item>Separated link</li>
        </md-menu>
      </div>
      <!-- Split button -->
      <div class="btn-group mr-1">
        <button md-button color="accent">Send</button>        
        <button [mdMenuTriggerFor]="appMenu3" md-button color="accent">
          <md-icon>keyboard_arrow_down</md-icon>
        </button>
        <md-menu #appMenu3 [overlapTrigger]="false">
          <li md-menu-item>Action One</li>
          <li md-menu-item>Action Two</li>
          <li md-menu-item>Action Three</li>
          <li class="divider"></li>
          <li md-menu-item>Separated link</li>
        </md-menu>
      </div>
    </div>

    <div class="pb-1">
      <p>Default buttons</p>
      <button md-raised-button md-icon-button color="primary" class="mr-1"><md-icon>star</md-icon></button>
      <button md-raised-button md-icon-button color="accent" class="mr-1"><md-icon>search</md-icon></button>
      <button md-raised-button color="primary" class="mr-1">Primary</button>
      <button md-raised-button color="accent" class="mr-1">Secondary</button>
      <button md-raised-button color="warn" class="mr-1">Warn</button>
      <button md-raised-button disabled color="primary" class="mr-1">disabled</button>
      <button md-raised-button disabled color="accent" class="mr-1">disabled</button>
    </div>

    <div class="pb-1">
      <p>Round buttons</p>
      <button md-raised-button md-round-button color="primary" class="mr-1">Primary</button>
      <button md-raised-button md-round-button color="accent" class="mr-1">Secondary</button>
      <button md-raised-button md-round-button color="warn" class="mr-1">Warn</button>
      <button md-raised-button md-round-button disabled color="primary" class="mr-1">disabled</button>
      <button md-raised-button md-round-button disabled color="accent" class="mr-1">disabled</button>
    </div>

    <div class="pb-1">
      <p>Flat buttons</p>
      <button md-icon-button color="primary"><md-icon>info_outline</md-icon></button>
      <button md-icon-button color="accent"><md-icon>error</md-icon></button>
      <button md-button color="primary" class="mr-1">Primary</button>
      <button md-button color="accent" class="mr-1">Secondary</button>
      <button md-button color="warn" class="mr-1">Warn</button>
      <button md-button disabled color="primary" class="mr-1">off</button>
      <button md-button disabled color="accent" class="mr-1">off</button>
    </div>

    <div class="pb-1">
      <p>Small buttons</p>
      <button md-raised-button md-icon-button md-button-sm color="primary" class="mr-1">
        <md-icon>play_arrow</md-icon>
      </button>
      <button md-raised-button md-icon-button md-button-sm color="accent" class="mr-1">
        <md-icon>replay</md-icon>
      </button>
      <button md-raised-button md-button-sm color="primary" class="mr-1">Primary</button>
      <button md-raised-button md-button-sm color="accent" class="mr-1">Accent</button>
      <button md-raised-button md-button-sm color="warn" class="mr-1">Warn</button>
      <button md-raised-button md-button-sm color="primary" disabled class="mr-1">off</button>
      <button md-raised-button md-button-sm color="accent" disabled class="mr-1">off</button>
    </div>

    <div class="pb-1">
      <p>Round Small buttons</p>
      <button md-raised-button md-round-button md-button-sm color="primary" class="mr-1">Primary</button>
      <button md-raised-button md-round-button md-button-sm color="accent" class="mr-1">Accent</button>
      <button md-raised-button md-round-button md-button-sm color="warn" class="mr-1">Warn</button>
      <button md-raised-button md-round-button md-button-sm color="primary" disabled class="mr-1">off</button>
      <button md-raised-button md-round-button md-button-sm color="accent" disabled class="mr-1">off</button>
    </div>

    <div class="pb-1">
      <p>Flat Small buttons</p>
      <button md-icon-button md-button-sm color="primary" class="mr-1">
        <md-icon>add</md-icon>
      </button>
      <button md-icon-button md-button-sm color="accent" class="mr-1">
        <md-icon>block</md-icon>
      </button>
      <button md-button md-button-sm color="primary" class="mr-1">Primary</button>
      <button md-button md-button-sm color="accent" class="mr-1">Accent</button>
      <button md-button md-button-sm color="warn" class="mr-1">Warn</button>
      <button md-button md-button-sm color="primary" disabled class="mr-1">off</button>
      <button md-button md-button-sm color="accent" disabled class="mr-1">off</button>
    </div>

    <div class="pb-1">
      <p>Fab buttons</p>
      <button md-fab color="primary" class="mr-1"><md-icon>add</md-icon></button>
      <button md-fab color="accent" class="mr-1"><md-icon>add</md-icon></button>
      <button md-fab color="warn" class="mr-1"><md-icon>add</md-icon></button>
      <button md-fab color="primary" disabled="" class="mr-1"><md-icon>add</md-icon></button>
      <button md-fab color="accent" disabled="" class="mr-1"><md-icon>add</md-icon></button>
      <button md-fab color="warn" disabled="" class="mr-1"><md-icon>add</md-icon></button>
    </div>

    <div class="pb-1">
      <p>Mini Fab buttons</p>
      <button md-mini-fab color="primary" class="mr-1"><md-icon>add</md-icon></button>
      <button md-mini-fab color="accent" class="mr-1"><md-icon>add</md-icon></button>
      <button md-mini-fab color="warn" class="mr-1"><md-icon>add</md-icon></button>
      <button md-mini-fab color="primary" disabled class="mr-1"><md-icon>add</md-icon></button>
      <button md-mini-fab color="accent" disabled class="mr-1"><md-icon>add</md-icon></button>
      <button md-mini-fab color="warn" disabled class="mr-1"><md-icon>add</md-icon></button>
    </div>

    <div class="pb-0">
      <p>Button toggles</p>
      <md-button-toggle class="mr-1">Single toggle</md-button-toggle>
      <md-button-toggle-group name="alignment" class="mr-1">
        <md-button-toggle value="left"><md-icon>format_align_left</md-icon></md-button-toggle>
        <md-button-toggle value="center"><md-icon>format_align_center</md-icon></md-button-toggle>
        <md-button-toggle value="right"><md-icon>format_align_right</md-icon></md-button-toggle>
        <md-button-toggle value="justify"><md-icon>format_align_justify</md-icon></md-button-toggle>
      </md-button-toggle-group>
      <md-button-toggle-group multiple class="mr-1">
        <md-button-toggle>Flour</md-button-toggle>
        <md-button-toggle>Eggs</md-button-toggle>
        <md-button-toggle disabled>Sugar</md-button-toggle>
        <md-button-toggle>Milk</md-button-toggle>
      </md-button-toggle-group>
    </div>
  </md-card-content>
</md-card>
