
<md-card>
  <md-card-title>Select</md-card-title>
  <md-card-subtitle>Single Selection</md-card-subtitle>
  <md-card-content>
    <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
      <label class="ml-xs mr-xs"><span>Default</span>
        <md-select placeholder="Drink" [(ngModel)]="currentDrink" [required]="drinksRequired"
                [disabled]="drinksDisabled" [floatPlaceholder]="floatPlaceholder" #drinkControl="ngModel">
          <md-option>None</md-option>
          <md-option *ngFor="let drink of drinks" [value]="drink.value" [disabled]="drink.disabled">
            {{ drink.viewValue }}
          </md-option>
        </md-select>
      </label>
      <label class="ml-xs mr-xs"><span>Disabled</span>
        <md-select placeholder="Drink" [(ngModel)]="currentDrink" [required]="drinksRequired"
                disabled="true" [floatPlaceholder]="floatPlaceholder" #drinkControl="ngModel">
          <md-option>None</md-option>
          <md-option *ngFor="let drink of drinks" [value]="drink.value" [disabled]="drink.disabled">
            {{ drink.viewValue }}
          </md-option>
        </md-select>
      </label>
    </div>
    <span><em>dividerColor used to set border-color on focus</em></span>
    <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
      <label class="ml-xs mr-xs"><span>Primary</span>
        <md-select placeholder="Drink" dividerColor="primary" [(ngModel)]="currentDrink" [required]="drinksRequired"
                [disabled]="drinksDisabled" [floatPlaceholder]="floatPlaceholder" #drinkControl="ngModel">
          <md-option>None</md-option>
          <md-option *ngFor="let drink of drinks" [value]="drink.value" [disabled]="drink.disabled">
            {{ drink.viewValue }}
          </md-option>
        </md-select>
      </label>
      <label class="ml-xs mr-xs"><span>Accent</span>
        <md-select placeholder="Drink" dividerColor="accent" [(ngModel)]="currentDrink" [required]="drinksRequired"
                [disabled]="drinksDisabled" [floatPlaceholder]="floatPlaceholder" #drinkControl="ngModel">
          <md-option>None</md-option>
          <md-option *ngFor="let drink of drinks" [value]="drink.value" [disabled]="drink.disabled">
            {{ drink.viewValue }}
          </md-option>
        </md-select>
      </label>
      <label class="ml-xs mr-xs"><span>Warn</span>
        <md-select placeholder="Drink" dividerColor="warn" [(ngModel)]="currentDrink" [required]="drinksRequired"
                [disabled]="drinksDisabled" [floatPlaceholder]="floatPlaceholder" #drinkControl="ngModel">
          <md-option>None</md-option>
          <md-option *ngFor="let drink of drinks" [value]="drink.value" [disabled]="drink.disabled">
            {{ drink.viewValue }}
          </md-option>
        </md-select>
      </label>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
      <label class="ml-xs mr-xs"> <span>With Hint Label</span>
        <md-select placeholder="Drink" [(ngModel)]="currentDrink"
          floatPlaceholder="never" #drinkControl="ngModel">
          <md-option>None</md-option>
          <md-option *ngFor="let drink of drinks" [value]="drink.value" [disabled]="drink.disabled">
            {{ drink.viewValue }}
          </md-option>
        </md-select>
        <md-hint align="start">Select something</md-hint>
      </label>
      <label class="ml-xs mr-xs" style="width: 100%;">
        <span>With Error Message</span>
        <md-select placeholder="Drink" [(ngModel)]="currentDrink"
          floatPlaceholder="never" #drinkControl="ngModel" required>
          <md-option>None</md-option>
          <md-option *ngFor="let drink of drinks" [value]="drink.value" [disabled]="drink.disabled">
            {{ drink.viewValue }}
          </md-option>
        </md-select>     
        <md-hint align="start" [hidden]="drinkControl.valid || drinkControl.pristine" class="error">
          This is required
        </md-hint>
        </label>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" class="mb-2">
      <div class="input-group ml-xs mr-xs">
        <md-input-container floatPlaceholder="never" class="md-block">
          <input mdInput placeholder="John Smith" type="text">
        </md-input-container>
        <md-select placeholder="Drink" [(ngModel)]="currentDrink" [required]="drinksRequired"
                [disabled]="drinksDisabled" [floatPlaceholder]="floatPlaceholder" #drinkControl="ngModel">
          <md-option>None</md-option>
          <md-option *ngFor="let drink of drinks" [value]="drink.value" [disabled]="drink.disabled">
            {{ drink.viewValue }}
          </md-option>
        </md-select>
        <md-input-container floatPlaceholder="never" class="md-block" style="flex: 1 1;">
          <input mdInput placeholder="PIN" type="text">
        </md-input-container>
      </div>
      <div class="input-group ml-xs mr-xs ">
        <md-input-container floatPlaceholder="never" class="md-block">
          <input mdInput placeholder="John Smith" type="text">
        </md-input-container>
        <md-select placeholder="Drink" [(ngModel)]="currentDrink" [required]="drinksRequired"
                [disabled]="drinksDisabled" [floatPlaceholder]="floatPlaceholder" #drinkControl="ngModel">
          <md-option>None</md-option>
          <md-option *ngFor="let drink of drinks" [value]="drink.value" [disabled]="drink.disabled">
            {{ drink.viewValue }}
          </md-option>
        </md-select>
        <md-input-container floatPlaceholder="never" class="md-block" style="flex: 1 1;">
          <input mdInput placeholder="PIN" type="text">
        </md-input-container>
      </div>
    </div>

    
    
    <p> Value: {{ currentDrink }} </p>
    <p> Touched: {{ drinkControl.touched }} </p>
    <p> Dirty: {{ drinkControl.dirty }} </p>
    <p> Status: {{ drinkControl.control?.status }} </p>
    <p>
      <label for="floating-placeholder">Floating placeholder:</label>
      <select [(ngModel)]="floatPlaceholder" id="floating-placeholder">
        <option value="auto">Auto</option>
        <option value="always">Always</option>
        <option value="never">Never</option>
      </select>
    </p>
    <p>
      <label for="drinks-theme">Theme:</label>
      <select [(ngModel)]="drinksTheme" id="drinks-theme">
        <option *ngFor="let theme of availableThemes" [value]="theme.value">{{ theme.name }}</option>
      </select>
    </p>

    <button md-button (click)="currentDrink='water-2'">SET VALUE</button>
    <button md-button (click)="drinksRequired=!drinksRequired">TOGGLE REQUIRED</button>
    <button md-button (click)="drinksDisabled=!drinksDisabled">TOGGLE DISABLED</button>
    <button md-button (click)="drinkControl.reset()">RESET</button>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Select</md-card-title>
  <md-card-subtitle>Multiple Selection</md-card-subtitle>

  <md-card-content>
    <md-select multiple [color]="pokemonTheme" placeholder="Pokemon" [(ngModel)]="currentPokemon"
               [required]="pokemonRequired" [disabled]="pokemonDisabled" #pokemonControl="ngModel">
      <md-option *ngFor="let creature of pokemon" [value]="creature.value">
        {{ creature.viewValue }}
      </md-option>
    </md-select>
    <p> Value: {{ currentPokemon }} </p>
    <p> Touched: {{ pokemonControl.touched }} </p>
    <p> Dirty: {{ pokemonControl.dirty }} </p>
    <p> Status: {{ pokemonControl.control?.status }} </p>
    <p>
      <label for="pokemon-theme">Theme:</label>
      <select [(ngModel)]="pokemonTheme" id="pokemon-theme">
        <option *ngFor="let theme of availableThemes" [value]="theme.value">{{ theme.name }}</option>
      </select>
    </p>
    <button md-button (click)="setPokemonValue()">SET VALUE</button>
    <button md-button (click)="pokemonRequired=!pokemonRequired">TOGGLE REQUIRED</button>
    <button md-button (click)="pokemonDisabled=!pokemonDisabled">TOGGLE DISABLED</button>
    <button md-button (click)="pokemonControl.reset()">RESET</button>
  </md-card-content>
</md-card>

<div *ngIf="showSelect">
  <md-card>
    <md-card-subtitle>formControl</md-card-subtitle>

    <md-card-content>
      <md-select placeholder="Food i would like to eat" [formControl]="foodControl">
        <md-option *ngFor="let food of foods" [value]="food.value"> {{ food.viewValue }}</md-option>
      </md-select>
      <p> Value: {{ foodControl.value }} </p>
      <p> Touched: {{ foodControl.touched }} </p>
      <p> Dirty: {{ foodControl.dirty }} </p>
      <p> Status: {{ foodControl.status }} </p>
      <button md-button (click)="foodControl.setValue('pizza-1')">SET VALUE</button>
      <button md-button (click)="toggleDisabled()">TOGGLE DISABLED</button>
      <button md-button (click)="foodControl.reset()">RESET</button>
    </md-card-content>
  </md-card>
</div>

<div *ngIf="showSelect">
  <md-card>
    <md-card-subtitle>Change event</md-card-subtitle>

    <md-card-content>
      <md-select placeholder="Starter Pokemon" (change)="latestChangeEvent = $event">
        <md-option *ngFor="let creature of pokemon" [value]="creature.value">{{ creature.viewValue }}</md-option>
      </md-select>

      <p> Change event value: {{ latestChangeEvent?.value }} </p>
    </md-card-content>
  </md-card>
</div>


