<md-card>
  <md-card-title>Select</md-card-title>
  <md-card-subtitle>Single Selection</md-card-subtitle>
  <md-card-content>
    <div class="docs-guide-content">
      <p>
        <code>MdSelectModule</code> - 
        <a class="badge" href="https://material.angular.io/components/select/overview" target="_blank">
          Official Documentation
        </a>
      </p>
      <p><code>&lt;md-select&gt;</code> is a form control for selecting a value from a set of options, similar to
      the native <code>&lt;select&gt;</code> element.</p>
      <p>UI design and behaviour wise, it is exactly similar to <code>input</code> and <code>textarea</code>
      elements.</p>

      <h3 id="select-usage">Usage</h3>
      <p>Select box is created by using <code>md-select</code> element. For each option you'd like in your select,
      add an <code>md-option</code> tag. Note that you can disable items by adding the <code>disabled</code> boolean
      attribute or binding to it.</p>

      <h3 id="select-label-and-placeholder">Static Label and Placeholder</h3>
      <p>Similar to <code>input</code> and <code>textarea</code> elements, <code>md-select</code> elements have
      been modified to have a static label, and a non-floating placeholder which disappears as soon as the user
      selects a value. To achieve this, <code>&lt;md-select&gt;</code> is wrapped inside
      <code>&lt;label&gt;</code> element. Floating placeholder has been disabled by setting <code>floatPlaceholder</code>
      attribute of <code>md-select</code> to <code>never</code>.</p>

      <div class="example-viewer">
        <div class="example-viewer-title">
          Default and Disabled Select Boxes
        </div>
        <div class="example-viewer-source">
<pre><span class="hljs-tag">&lt;<span class="hljs-name">label</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>Default<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">md-select</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Drink"</span> [(<span class="hljs-attr">ngModel</span>)]=<span class="hljs-string">"currentDrink"</span>
    <span class="hljs-attr">floatPlaceholder</span>=<span class="hljs-string">"never"</span> #<span class="hljs-attr">drinkControl</span>=<span class="hljs-string">"mdSelect"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">md-option</span> *<span class="hljs-attr">ngFor</span>=<span class="hljs-string">"let drink of drinks"</span> [<span class="hljs-attr">value</span>]=<span class="hljs-string">"drink.value"</span> [<span class="hljs-attr">disabled</span>]=<span class="hljs-string">"drink.disabled"</span>&gt;</span>
      {{'{'}}{{'{'}} drink.viewValue {{'}'}}{{'}'}}
    <span class="hljs-tag">&lt;/<span class="hljs-name">md-option</span>&gt;</span>
    <span class="hljs-comment">&lt;!-- corresponding drinks object is set in TS file --&gt;</span>
    <span class="hljs-comment">&lt;!-- drinks = [ --&gt;</span>
    <span class="hljs-comment">&lt;!--  {{ '{' }}value: null, viewValue: 'None'{{ '}' }}, --&gt;</span>
    <span class="hljs-comment">&lt;!--  {{ '{' }}value: 'coke-0', viewValue: 'Coke'{{ '}' }}, --&gt;</span>
    <span class="hljs-comment">&lt;!--  {{ '{' }}value: 'water-1', viewValue: 'Water'{{ '}' }}, --&gt;</span>
    <span class="hljs-comment">&lt;!--  {{ '{' }}value: 'pepper-2', viewValue: 'Dr. Pepper', disabled: true{{ '}' }}, --&gt;</span>
    <span class="hljs-comment">&lt;!--  {{ '{' }}value: 'coffee-3', viewValue: 'Coffee'{{ '}' }}, --&gt;</span>
    <span class="hljs-comment">&lt;!--  {{ '{' }}value: 'tea-4', viewValue: 'Tea'{{ '}' }}, --&gt;</span>
    <span class="hljs-comment">&lt;!-- ]; --&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">md-select</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
<span class="hljs-comment">&lt;!-- Disabled Select --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">label</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>Disabled<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">md-select</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Drink"</span> <span class="hljs-attr">floatPlaceholder</span>=<span class="hljs-string">"never"</span> <span class="hljs-attr">disabled</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">md-option</span> *<span class="hljs-attr">ngFor</span>=<span class="hljs-string">"let drink of drinks"</span> [<span class="hljs-attr">value</span>]=<span class="hljs-string">"drink.value"</span> [<span class="hljs-attr">disabled</span>]=<span class="hljs-string">"drink.disabled"</span>&gt;</span>
      {{'{'}}{{'{'}} drink.viewValue {{'}'}}{{'}'}}
    <span class="hljs-tag">&lt;/<span class="hljs-name">md-option</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">md-select</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span></pre>
        </div>
        <div class="example-viewer-body">
          <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
            <label class="ml-xs mr-xs">
              <span>Default</span>
              <md-select placeholder="Drink" [(ngModel)]="currentDrink"
                floatPlaceholder="never" #drinkControl="mdSelect">
                <md-option *ngFor="let drink of drinks" [value]="drink.value" [disabled]="drink.disabled">
                  {{ drink.viewValue }}
                </md-option>
              </md-select>
            </label>
            <label class="ml-xs mr-xs">
              <span>Disabled</span>
              <md-select placeholder="Drink" floatPlaceholder="never" disabled>
                <md-option *ngFor="let drink of drinks" [value]="drink.value" [disabled]="drink.disabled">
                  {{ drink.viewValue }}
                </md-option>
              </md-select>
            </label>
          </div>
        </div>
      </div>

      <h3 id="select-floating-placeholder">Floating Placeholder</h3>
      <p>One can, however, still use floating placeholder with select boxes by either skipping the
        <code>floatPlaceholder</code> attribute completely on <code>md-select</code> or by setting
        it to <code>auto</code>.
      </p>
      <p>Note: Do NOT wrap <code>md-select</code> inside a <code>label</code> element when using floating placeholder.
      </p>

      <div class="example-viewer">
        <div class="example-viewer-title">
          Select Box with Floating Placeholder
        </div>
        <div class="example-viewer-source">
<pre><span class="hljs-tag">&lt;<span class="hljs-name">md-select</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Favorite Drink"</span> [(<span class="hljs-attr">ngModel</span>)]=<span class="hljs-string">"favDrink"</span>
  <span class="hljs-attr">floatPlaceholder</span>=<span class="hljs-string">"auto"</span> #<span class="hljs-attr">favDrinkControl</span>=<span class="hljs-string">"mdSelect"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">md-option</span> *<span class="hljs-attr">ngFor</span>=<span class="hljs-string">"let drink of drinks"</span> [<span class="hljs-attr">value</span>]=<span class="hljs-string">"drink.value"</span> [<span class="hljs-attr">disabled</span>]=<span class="hljs-string">"drink.disabled"</span>&gt;</span>
    {{'{'}}{{'{'}} drink.viewValue {{'}'}}{{'}'}}
  <span class="hljs-tag">&lt;/<span class="hljs-name">md-option</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">md-select</span>&gt;</span></pre>
        </div>
        <div class="example-viewer-body">
            <md-select placeholder="Favorite Drink" [(ngModel)]="favDrink"
              floatPlaceholder="auto" #favDrinkControl="mdSelect">
              <md-option *ngFor="let drink of drinks" [value]="drink.value" [disabled]="drink.disabled">
                {{ drink.viewValue }}
              </md-option>
            </md-select>
        </div>
      </div>

      <h3 id="select-underline-color">Underline Color and Border</h3>
      <p>Similar to <code>input</code> and <code>textarea</code> elements, <code>md-select</code> elements have
      been modified to have border bottom on mobile screens and border on all four sides on tabs and bigger screens.
      These borders change color on focus, and this color can be set using <code>dividerColor</code> attribute
      on <code>md-select</code>. Supported values for this attribute are <code>primary</code>,
      <code>accent</code> and <code>warn</code>. If none of these value are present or if this attribute is missing,
      then a default color will be used.</p>

      <div class="example-viewer">
        <div class="example-viewer-title">
          Select with <code>dividerColor</code> set
        </div>
        <div class="example-viewer-source">
<pre><span class="hljs-tag">&lt;<span class="hljs-name">label</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>Primary<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">md-select</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Drink"</span> <span class="hljs-attr">dividerColor</span>=<span class="hljs-string">"primary"</span> [(<span class="hljs-attr">ngModel</span>)]=<span class="hljs-string">"currentDrink1"</span>
    <span class="hljs-attr">floatPlaceholder</span>=<span class="hljs-string">"never"</span> #<span class="hljs-attr">drinkControl1</span>=<span class="hljs-string">"mdSelect"</span>&gt;</span>
    <span class="hljs-comment">&lt;!-- set dividerColor to primary or accent or warn --&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">md-option</span> *<span class="hljs-attr">ngFor</span>=<span class="hljs-string">"let drink of drinks"</span> [<span class="hljs-attr">value</span>]=<span class="hljs-string">"drink.value"</span> [<span class="hljs-attr">disabled</span>]=<span class="hljs-string">"drink.disabled"</span>&gt;</span>
      {{'{'}}{{'{'}} drink.viewValue {{'}'}}{{'}'}}
    <span class="hljs-tag">&lt;/<span class="hljs-name">md-option</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">md-select</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span></pre>
        </div>
        <div class="example-viewer-body">
          <label>
            <span>Primary</span>
            <md-select placeholder="Drink" dividerColor="primary" [(ngModel)]="currentDrink1"
                    floatPlaceholder="never" #drinkControl1="mdSelect">
              <md-option *ngFor="let drink of drinks" [value]="drink.value" [disabled]="drink.disabled">
                {{ drink.viewValue }}
              </md-option>
            </md-select>
          </label>
        </div>
      </div>

      <h3 id="select-compact">Compact Select Boxes</h3>
      <p>Select Boxes can be "compactified" - having lesser height and padding - by adding <code>compact</code>
      to <code>md-select</code>.</p>
      <p>NOTE: <code>compact</code> class does NOT have any effect on elements in mobile view.</p>

      <div class="example-viewer">
        <div class="example-viewer-title">
          Compact Select Boxes
        </div>
        <div class="example-viewer-source">
<pre><span class="hljs-tag">&lt;<span class="hljs-name">label</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>Compact Select<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">md-select</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Favorite Food"</span> [(<span class="hljs-attr">ngModel</span>)]=<span class="hljs-string">"favFood"</span>
    <span class="hljs-attr">floatPlaceholder</span>=<span class="hljs-string">"never"</span> #<span class="hljs-attr">favFoodControl</span>=<span class="hljs-string">"mdSelect"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"compact"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">md-option</span> *<span class="hljs-attr">ngFor</span>=<span class="hljs-string">"let food of foods"</span> [<span class="hljs-attr">value</span>]=<span class="hljs-string">"food.value"</span> [<span class="hljs-attr">disabled</span>]=<span class="hljs-string">"food.disabled"</span>&gt;</span>
      {{'{'}}{{'{'}} food.viewValue {{'}'}}{{'}'}}
    <span class="hljs-tag">&lt;/<span class="hljs-name">md-option</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">md-select</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
<span class="hljs-comment">&lt;!-- Disabled Compact Select --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">label</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>Compact Select - Disabled<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">md-select</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Favorite Food"</span> <span class="hljs-attr">floatPlaceholder</span>=<span class="hljs-string">"never"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"compact"</span> <span class="hljs-attr">disabled</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">md-option</span> *<span class="hljs-attr">ngFor</span>=<span class="hljs-string">"let food of foods"</span> [<span class="hljs-attr">value</span>]=<span class="hljs-string">"food.value"</span> [<span class="hljs-attr">disabled</span>]=<span class="hljs-string">"food.disabled"</span>&gt;</span>
      {{'{'}}{{'{'}} food.viewValue {{'}'}}{{'}'}}
    <span class="hljs-tag">&lt;/<span class="hljs-name">md-option</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">md-select</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span></pre>
        </div>
        <div class="example-viewer-body">
          <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
            <label class="ml-xs mr-xs">
              <span>Compact Select</span>
              <md-select placeholder="Favorite Food" [(ngModel)]="favFood"
                floatPlaceholder="never" #favFoodControl="mdSelect" class="compact">
                <md-option *ngFor="let food of foods" [value]="food.value" [disabled]="food.disabled">
                  {{ food.viewValue }}
                </md-option>
              </md-select>
            </label>
            <label class="ml-xs mr-xs">
              <span>Compact Select - Disabled</span>
              <md-select placeholder="Favorite Food" floatPlaceholder="never" class="compact" disabled>
                <md-option *ngFor="let food of foods" [value]="food.value" [disabled]="food.disabled">
                  {{ food.viewValue }}
                </md-option>
              </md-select>
            </label>
          </div>
        </div>
      </div>

      <h3 id="select-multiple">Multiple Selection</h3>
      <p><code>multiple</code> attribute on <code>md-select</code> element brings up checkboxes on the left of
      options - to allow for multiple-selections.</p>

      <div class="example-viewer">
        <div class="example-viewer-title">
          Select Box with Multiple Selection
        </div>
        <div class="example-viewer-source">
<pre><span class="hljs-tag">&lt;<span class="hljs-name">label</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>Pokemon<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">md-select</span> <span class="hljs-attr">multiple</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Favorite Pokemon"</span> [(<span class="hljs-attr">ngModel</span>)]=<span class="hljs-string">"currentPokemon"</span>
    <span class="hljs-attr">floatPlaceholder</span>=<span class="hljs-string">"never"</span> #<span class="hljs-attr">pokemonControl</span>=<span class="hljs-string">"mdSelect"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">md-option</span> *<span class="hljs-attr">ngFor</span>=<span class="hljs-string">"let creature of pokemon"</span> [<span class="hljs-attr">value</span>]=<span class="hljs-string">"creature.value"</span>&gt;</span>
      {{'{'}}{{'{'}} creature.viewValue {{'}'}}{{'}'}}
    <span class="hljs-tag">&lt;/<span class="hljs-name">md-option</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">md-select</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span></pre>
        </div>
        <div class="example-viewer-body">
          <label>
            <span>Pokemon</span>
            <md-select multiple placeholder="Favorite Pokemon" [(ngModel)]="currentPokemon"
                      floatPlaceholder="never" #pokemonControl="mdSelect">
              <md-option *ngFor="let creature of pokemon" [value]="creature.value">
                {{ creature.viewValue }}
              </md-option>
            </md-select>
          </label>
        </div>
      </div>

      <h3 id="select-multiple-variation1">Multiple Selection Variation</h3>

      <div class="example-viewer">
        <div class="example-viewer-title">
          Multiple Selection Variation
        </div>
        <div class="example-viewer-source">
<pre>
<span class="hljs-tag">&lt;<span class="hljs-name">label</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>Favorite Sports<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">md-select</span> <span class="hljs-attr">multiple</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Favorite Sports"</span> [(<span class="hljs-attr">ngModel</span>)]=<span class="hljs-string">"favSports"</span>
    <span class="hljs-attr">floatPlaceholder</span>=<span class="hljs-string">"never"</span> #<span class="hljs-attr">sportsControl</span>=<span class="hljs-string">"mdSelect"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">md-option</span> *<span class="hljs-attr">ngFor</span>=<span class="hljs-string">"let sport of sports"</span> [<span class="hljs-attr">value</span>]=<span class="hljs-string">"sport.value"</span>&gt;</span>
      {{'{'}}{{'{'}} sport.viewValue {{'}'}}{{'}'}}
    <span class="hljs-tag">&lt;/<span class="hljs-name">md-option</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">md-select</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"multi-overbox"</span> <span class="hljs-attr">fxLayout</span>=<span class="hljs-string">"row"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"multi-overbox-text"</span> (<span class="hljs-attr">click</span>)=<span class="hljs-string">"sportsControl.toggle()"</span>&gt;</span>{{'{'}}{{'{'}} sportsControl.selected.length > 0 ? sportsControl.selected.length + ' selected' : ''}}<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
    <span class="hljs-comment">&lt;!-- IMPORTANT: make sure the above span code is one single line --&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"multi-overbox-link"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"www.google.com"</span>&gt;</span>Go to Google<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-comment">&lt;!-- [routerLink] can also be used --&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">md-hint</span> <span class="hljs-attr">align</span>=<span class="hljs-string">"start"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"multi-value"</span>&gt;</span>{{'{'}}{{'{'}} sportsControl.triggerValue }}<span class="hljs-tag">&lt;/<span class="hljs-name">md-hint</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
</pre>
        </div>
        <div class="example-viewer-body">
          <label>
            <span>Favorite Sports</span>
            <md-select multiple placeholder="Favorite Sports" [(ngModel)]="favSports"
                      floatPlaceholder="never" #sportsControl="mdSelect">
              <md-option *ngFor="let sport of sports" [value]="sport.value">
                {{ sport.viewValue }}
              </md-option>
            </md-select>
            <div class="multi-overbox" fxLayout="row" >
              <span class="multi-overbox-text" (click)="sportsControl.toggle()">{{ sportsControl.selected.length > 0 ? sportsControl.selected.length + ' selected' : ''}}</span>
              <a class="multi-overbox-link" href="www.google.com">Go to Google</a>
            </div>
            <md-hint align="start" class="multi-value">{{ sportsControl.triggerValue }}</md-hint>
          </label>
        </div>
      </div>    

      <h3 id="select-multiple-variation2">Multiple Selection Variation - Popover</h3>
      <p>This variation by default shows only the labels of the selected options. To make/change the selection, a triggering element,
        like a button or a span, is clicked. The user is then presented with a list of options along with checkboxes to select/de-select.
        Also available is a search input to search through the available options.
      </p>
      <p>This variation is created by using a custom SelectPopoverComponent, with selector as <code>select-popover</code>.
      </p>
      <p>Inputs to <code>select-popover</code>:</p>
      <ul>
        <li><code>label</code>: label/text to be shown at the top of the component.</li>
        <li><code>options</code>: list of options as an array. Please see below code sample for structure.</li>
      </ul>
      <p>Outputs/Events of <code>select-popover</code>:</p>
      <ul>
        <li><code>onClose</code>: emitted when the component is closed. Returns the updated <code>options</code> array.</li>
      </ul>
      <p>
        Custom <code>popover-container</code> and <code>popover</code> classes have been added to simulate behaviour of a popover
        element. Element with <code>popover</code> class will be hidden by default, and will fade in only when <code>shown</code> class is
        added to it. Element with <code>popover</code> class should be placed inside an element with <code>popover-container</code> class.
      </p>

      <div class="example-viewer">
        <div class="example-viewer-title">
          Multiple Selection Variation - Popover
        </div>
        <div class="example-viewer-source">
          <md-tab-group>
            <md-tab label="HTML">
<pre>
<span class="hljs-tag">&lt;<span class="hljs-name">h4</span>&gt;</span>Harvester<span class="hljs-tag">&lt;/<span class="hljs-name">h4</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"select-popover-status"</span>&gt;</span>{{'{'}}{{'{'}} selectPopoverStatus}}<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"popover-container"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">md-button</span> <span class="hljs-attr">color</span>=<span class="hljs-string">"accent"</span> (<span class="hljs-attr">click</span>)=<span class="hljs-string">"popoverShown=!popoverShown"</span>&gt;</span>
    {{'{'}}{{'{'}} popoverShown ? 'Click to close' : 'Click to Select'}}
  <span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> *<span class="hljs-attr">ngIf</span>=<span class="hljs-string">"popoverShown"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"popover shown"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">select-popover</span> <span class="hljs-attr">label</span>=<span class="hljs-string">"Favourite Sports"</span> [<span class="hljs-attr">options</span>]=<span class="hljs-string">"options"</span> (<span class="hljs-attr">onClose</span>)=<span class="hljs-string">"onSelectClose(options)"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">select-popover</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</pre>
            </md-tab>
            <md-tab label="TS">
<pre>
<span class="hljs-keyword">import</span> {{'{'}} Component, OnInit } <span class="hljs-keyword">from</span> <span class="hljs-string">'@angular/core'</span>;

<span class="hljs-meta">@Component</span>({{'{'}}
  selector: <span class="hljs-string">'app-select'</span>,
  templateUrl: <span class="hljs-string">'./select.component.html'</span>,
  styleUrls: [<span class="hljs-string">'./select.component.scss'</span>],
})
<span class="hljs-keyword">export</span> <span class="hljs-keyword">class</span> SelectComponent <span class="hljs-keyword">implements</span> OnInit {{'{'}}
  popoverShown:<span class="hljs-built_in">boolean</span> = <span class="hljs-boolean">false</span>;
  selectPopoverStatus:<span class="hljs-built_in">string</span> = <span class="hljs-string">'No access'</span>;

  <span class="hljs-keyword">constructor</span>(<span class="hljs-params"><span class="hljs-keyword">public</span> snackBar: MdSnackBar</span>) {{'{'}}}

  options = [{{'{'}}
    text: <span class="hljs-string">'Spinach'</span>,
    checked: <span class="hljs-boolean">false</span>
  }, {{'{'}}
    text: <span class="hljs-string">'Cabbage'</span>,
    checked: <span class="hljs-boolean">true</span>
  }, {{'{'}}
    text: <span class="hljs-string">'Tomato'</span>,
    checked: <span class="hljs-boolean">false</span>
  }, {{'{'}}
    text: <span class="hljs-string">'Orange'</span>,
    checked: <span class="hljs-boolean">false</span>
  }, {{'{'}}
    text: <span class="hljs-string">'Apple'</span>,
    checked: <span class="hljs-boolean">true</span>
  }, {{'{'}}
    text: <span class="hljs-string">'Mango'</span>,
    checked: <span class="hljs-boolean">false</span>
  }]

  updateSelected() {{'{'}}
    <span class="hljs-keyword">let</span> checked:<span class="hljs-built_in">number</span> = 0;
    <span class="hljs-keyword">let</span> checkString:<span class="hljs-built_in">string</span> = <span class="hljs-string">''</span>;

    <span class="hljs-keyword">this</span>.options.forEach(option => {{'{'}}
        <span class="hljs-keyword">if</span>(option.checked) {{'{'}}
                checked++;
                <span class="hljs-keyword">if</span>(checked == 1) {{'{'}}
                  checkString = option.text;
                } <span class="hljs-keyword">else</span> {{'{'}}
                  checkString += (<span class="hljs-string">', '</span> + option.text);
                }
            }
      });
    <span class="hljs-keyword">if</span>(checked == 0) {{'{'}}
      <span class="hljs-keyword">this</span>.selectPopoverStatus = <span class="hljs-string">'No access'</span>;
    } <span class="hljs-keyword">else</span> {{'{'}}
      <span class="hljs-keyword">this</span>.selectPopoverStatus = checkString;
    }
  }

  onSelectClose(options) {{'{'}}
    <span class="hljs-keyword">this</span>.options = options;
    <span class="hljs-keyword">this</span>.updateSelected();
  } 

  ngOnInit() {{'{'}}
    <span class="hljs-keyword">this</span>.updateSelected();
  }

}
</pre>
            </md-tab>
          </md-tab-group>

        </div>
        <div class="example-viewer-body">
          <h4>Harvester</h4>
          <p class="select-popover-status">{{ selectPopoverStatus}}</p>
          <div class="popover-container">
            <button md-button color="accent" (click)="popoverShown=!popoverShown">{{ popoverShown ? 'Click to close' : 'Click to Select'}}</button>
            <div *ngIf="popoverShown" class="popover shown">
              <select-popover label="Favourite Sports" [options]="options" (onClose)="onSelectClose(options)"></select-popover>
            </div>
          </div>
        </div>
      </div>  

      <h3 id="select-hint-and-error">Hint Label and Error Message</h3>
      <p>Hint label is an indicative text that appears below the select box.
      These provide additional information about the selected value to the user, as to what is expected or what the
      user should keep in mind while selecting a value.</p>
      <p>Hint labels for <code>md-select</code> elements are set by using an <code>md-hint</code> element inside
      the <code>md-select</code>, which takes an <code>align</code> attribute containing the side as <code>start</code>
      or <code>end</code>.</p>
      <p>Error messages appear below the select box. These are hidden by default and will appear on an invalid input
        after the user has interacted with the element. For example, if the <code>md-select</code> element is marked
        required but the user doesn't select a value or selects a None value.</p>
      <p>Error messages can be set by using <code>md-hint</code> elements having <code>error</code> class inside the 
      <code>md-select</code>, with <code>hidden</code> property bound to desired property of the element.
      For example, <code>[hidden]="name.valid || name.pristine"</code>.</p>

      <div class="example-viewer">
        <div class="example-viewer-title">
          Select with Hint Label
        </div>
        <div class="example-viewer-source">
<pre><span class="hljs-tag">&lt;<span class="hljs-name">label</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>With Hint Label<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">md-select</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Drink"</span> <span class="hljs-attr">floatPlaceholder</span>=<span class="hljs-string">"never"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">md-option</span> *<span class="hljs-attr">ngFor</span>=<span class="hljs-string">"let drink of drinks"</span> [<span class="hljs-attr">value</span>]=<span class="hljs-string">"drink.value"</span> [<span class="hljs-attr">disabled</span>]=<span class="hljs-string">"drink.disabled"</span>&gt;</span>
      {{'{'}}{{'{'}} drink.viewValue {{'}'}}{{'}'}}
    <span class="hljs-tag">&lt;/<span class="hljs-name">md-option</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">md-select</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">md-hint</span> <span class="hljs-attr">align</span>=<span class="hljs-string">"start"</span>&gt;</span>Select something<span class="hljs-tag">&lt;/<span class="hljs-name">md-hint</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span></pre>
        </div>
        <div class="example-viewer-body">
          <label>
            <span>With Hint Label</span>
            <md-select placeholder="Drink" floatPlaceholder="never">
              <md-option *ngFor="let drink of drinks" [value]="drink.value" [disabled]="drink.disabled">
                {{ drink.viewValue }}
              </md-option>
            </md-select>
            <md-hint align="start">Select something</md-hint>
          </label>
        </div>
      </div>

      <div class="example-viewer">
        <div class="example-viewer-title">
          Select with Error Message
        </div>
        <div class="example-viewer-source">
<pre><span class="hljs-tag">&lt;<span class="hljs-name">label</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>With Error Message<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">md-select</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Color"</span> [(<span class="hljs-attr">ngModel</span>)]=<span class="hljs-string">"favoriteColor"</span>
    <span class="hljs-attr">floatPlaceholder</span>=<span class="hljs-string">"never"</span> #<span class="hljs-attr">colorControl</span>=<span class="hljs-string">"mdSelect"</span> <span class="hljs-attr">required</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">md-option</span> *<span class="hljs-attr">ngFor</span>=<span class="hljs-string">"let color of colors"</span> [<span class="hljs-attr">value</span>]=<span class="hljs-string">"color.value"</span> [<span class="hljs-attr">disabled</span>]=<span class="hljs-string">"color.disabled"</span>&gt;</span>
      {{'{'}}{{'{'}} color.viewValue {{'}'}}{{'}'}}
    <span class="hljs-tag">&lt;/<span class="hljs-name">md-option</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">md-select</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">md-hint</span> <span class="hljs-attr">align</span>=<span class="hljs-string">"start"</span> [<span class="hljs-attr">hidden</span>]=<span class="hljs-string">"colorControl.valid || colorControl.pristine"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"error"</span>&gt;</span>
    This is required
  <span class="hljs-tag">&lt;/<span class="hljs-name">md-hint</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span></pre>
        </div>
        <div class="example-viewer-body">
          <label>
            <span>With Error Message</span>
            <md-select placeholder="Color" [(ngModel)]="favoriteColor"
              floatPlaceholder="never" #colorControl="mdSelect" required>
              <md-option *ngFor="let color of colors" [value]="color.value" [disabled]="color.disabled">
                {{ color.viewValue }}
              </md-option>
            </md-select>     
            <md-hint align="start" [hidden]="colorControl.valid || colorControl.pristine" class="error">
              This is required
            </md-hint>
          </label>
        </div>
      </div>
    </div>    
  </md-card-content>
</md-card>
