<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget mat-teal">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>local_offer</md-icon>
        </div>
        <div class="pl-0">
          <h5 md-card-widget-title>103</h5>
          <p>Open Orders</p>
        </div>
      </div>
    </md-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget mat-green">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>phone</md-icon>
        </div>
        <div class="pl-0">
          <h5 md-card-widget-title>23</h5>
          <p>Order Reminders</p>
        </div>
      </div>
    </md-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget mat-light-green-400">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>notifications</md-icon>
        </div>
        <div class="pl-0">
          <h5 md-card-widget-title>65</h5>
          <p>Orders with Comments</p>
        </div>
      </div>
    </md-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget mat-red-300">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>email</md-icon>
        </div>
        <div class="pl-0">
          <h5 md-card-widget-title>70</h5>
          <p>Adjusted Orders</p>
        </div>
      </div>
    </md-card>
  </div>
</div>
<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <md-card>
      <md-card-content>
        <div class="mdl-cell mdl-cell--12-col">
          <h4>Latest Updates:</h4>
          <p><strong>Stay tuned to this homepage for Library Updates</strong></p>
          <p><strong>Note: </strong>This sample site uses a location strategy useHash:true.
          This means that the url links will automatically have a # inserted. This is done as a convenience for the sample site, so that
          you can do a page refresh and not get a '404' error. The useHash:true does not have to be used with your project - provided you have handled redirection
          on server.</p>
          <p>Over the coming weeks we will be providing additional documentation detailing Library usage in your projects.
            <strong><i>--Doug DeLoy</i></strong></p>
          <span><strong>Changelog</strong></span>
          <ul>
            <li>08/15/2017: Demo Site: Table and Grid split into separate pages.</li>
            <li>08/15/2017: Grid Styling and additional attributes: Published to Library. See sample site pages for documentation.</li>
            <li>NPM Seed: Successfully tested custom grid styling and implementation.</li>
          </ul>
        </div>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>
        <div class="mdl-cell mdl-cell--12-col">
          <h4>Getting started</h4>
          <p>This template is built with angular-cli and requires Node and NPM to be installed.</p>
          <p>It is primarily extracted from the Official <a href="https://github.com/angular/material2" target="_blank">Angular Material GitHub</a> Demo. I would strongly suggesting
            cloning and running the demo to use in conjuntion with this template - as a reference. </p>
          <h6>Installing the prerequisites</h6>
          <p><strong>Node.js and NPM:</strong> You can download Node.js from <a href="https://nodejs.org" target="_blank">https://nodejs.org</a>. NPM comes bundled with Node.js</p>
          <p><strong>angular-cli:</strong> You can install angular-cli by executing from your terminal <b>npm install -g @angular/cli</b>. More details can be found here <a href="https://github.com/angular/angular-cli">https://github.com/angular/angular-cli</a> </p>
          <h6>Installing the npm packages</h6>
          <p>Before proceding you'll need to install npm packages. You can do this by running <strong>npm install</strong> from the root of your project to install all the necessary dependencies.</p>
          <h5>Using CLI</h5>
          <h6>Development server</h6>
          <p>Run `ng serve` for a dev server. Navigate to `http://localhost:4200/`. The app will automatically reload if you change any of the source files.</p>
          <h6>Code scaffolding</h6>
          <p>Run `ng generate component component-name` to generate a new component. You can also use `ng generate directive/pipe/service/class`.</p>
          <h6>Building</h6>
          <p>Run `ng build` to build the project. The build artifacts will be stored in the `dist/` directory. Use the `-prod` flag for a production build. Use `--aot` flag for a AoT build</p>
          <h6>Further help</h6>
          <p>To get more help on the `angular-cli` use `ng --help` or go check out <a href="https://github.com/angular/angular-cli" target="_blank">https://github.com/angular/angular-cli</a>.</p>
          <h5>Layout Engine</h5>
          <p>For the layout, the template uses @angular/flex-layout angular 2+ component layout engine which uses flexbox css. For detailed usage information you can read the docs over at <a href="https://github.com/angular/flex-layout">https://github.com/angular/flex-layout</a> </p>
          <h5>Additional Resources</h5>
          <p><b>Angular Material Home:</b> Starting point for everything 'Material' at <a href="https://material.io/" target="_blank">https://material.io/</a></p>
          <p><b>Angular Material:</b> Detailed instructions on how to get started at <a href="https://material.angular.io/" target="_blank">https://material.angular.io/</a></p>
          <p><b>Angular Material Guideline:</b> Theory, examples, resources and more at: <a href="https://material.io/guidelines/" target="_blank">https://material.io/guidelines/</a></p>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>
