
/* itn primary */
$md-itnprimary: (
  50 : #e6f8ed,
  100 : #c1eed1,
  200 : #98e3b3,
  300 : #6fd794,
  400 : #50cf7d,
  500 : #31c666,
  600 : #2cc05e,
  700 : #25b953,
  800 : #1fb149,
  900 : #13a438,
  A100 : #d6ffdf,
  A200 : #a3ffb7,
  A400 : #70ff8f,
  A700 : #57ff7b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/* itn secondary */
$md-itnsecondary: (
  50 : #e8ebed,
  100 : #c5ced1,
  200 : #9faeb3,
  300 : #788d94,
  400 : #5b747d,
  500 : #3e5c66,
  600 : #38545e,
  700 : #304a53,
  800 : #284149,
  900 : #1b3038,
  A100 : #7bdaff,
  A200 : #48ccff,
  A400 : #15beff,
  A700 : #00b5fb,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



