/* This CSS for demo purposes only */

.demo-sidenav-container {
  border: 1px solid #CCCCCC;

  .mat-sidenav-focus-trap > .cdk-focus-trap-content {
    padding: 10px;
  }
}

.demo-sidenav-content {
  padding: 15px;
}

md-sidenav.sm {
  width:25%;
  & p{
    padding:10px;
  }
}


md-sidenav.sm {
  //min-width:150px;
  width:25% !important;
}

md-sidenav.med {
  //min-width:150px;
  width:50% !important;
}

md-sidenav.lg {
  //min-width:150px;
  width:75% !important;
}
md-sidenav.xl {
  //min-width:150px;
  width:100% !important;
}
.sidenav-select {
  margin-left:15px;
  margin-top:30px;

}
.p-10 {
  padding:10px;
}

