<md-card>
  <md-card-title>Slider Panel</md-card-title>
  <md-card-subtitle>&lt;md-sidenav> is a panel that can be placed next to or above some primary content. A sidenav is typically used for navigation, but can contain any content.</md-card-subtitle>
  <md-card-content>
  <!--  <md-card>
      <md-card-content>
        <md-card-title>Slider Panel Basic Use Cases</md-card-title>
        <md-toolbar color="primary"></md-toolbar>
        <md-sidenav-container class="sidenav-container">
          <md-sidenav class="sidenav-content" #start opened (open)="myinput.focus()" mode="side"> Start Side Drawer <br>
            <button md-button color="primary" (click)="start.close()">
            Close
            </button>
            <br>
            <button md-button color="primary" (click)="end.open()">Open End Side</button>
            <br>
            <button md-button color="primary"
                    (click)="start.mode = (start.mode == 'push' ? 'over' : (start.mode == 'over' ? 'side' : 'push'))">Toggle Mode</button>
            <div>Mode: {{start.mode}}</div>
            <br>
            <input #myinput>
          </md-sidenav>
          <md-sidenav class="sidenav-content" #end align="end"> End Side Drawer <br>
            <button md-button color="primary" (click)="end.close()">Close</button>
          </md-sidenav>
          <div class="sidenav-content">
            <p><strong>Content</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut libero magna, fermentum ut arcu ac, tempor auctor diam. Morbi facilisis ultrices sem posuere varius. Aliquam erat volutpat.</p>
            <div>
              <header>Sidenav</header>
              <button md-button color="primary" (click)="start.toggle()">Toggle Start Side Drawer</button>
              <button md-button color="primary" (click)="end.toggle()">Toggle End Side Drawer</button>
            </div>
            <button md-raised-button color="accent">HELLO</button>
            <button md-raised-button class="mat-primary">HELLO</button>
          </div>
        </md-sidenav-container>
      </md-card-content>
    </md-card> -->
    <md-card>
      <md-card-content>
        <md-card-title>Slider Panel - with Menu Documentation</md-card-title>
        <strong>Create a class model: sidenav-menu-item.ts</strong>
        <pre>
        /* I usually create my models in something like shared/models/ */
        export class SidenavMenuItem &#123;
        public secTitle: string;
        public title: string;
        public link: string;
        public children: SidenavMenuItem[];
        public hasChildren: boolean = false;
        public pageTitle: string;

        constructor(secTitle: string, title: string, pageTitle: string,
        link: string, children: SidenavMenuItem[])&#123;
        this.title = title;
        this.secTitle = secTitle;
        this.link = link;
        this.children = children;
        this.hasChildren = (children!=null && children.length!=0);
        this.pageTitle = pageTitle;
          }
        }
        </pre>
        <strong>Create a new component named sidenav-item</strong><br/>
        With @angular/cli: ng g c sidenav-item<br/>
        This will create a new directory with ts, html, css and test file<br/>
        It will automatically be imported into app.module.ts for you<br/>
        <strong>sidenav-item-component.ts</strong>
        <pre>
        import &#123; Component, Input } from '@angular/core';
        import &#123; SidenavMenuItem } from '../sidenav-menu-item';
        /* Import the model you created in the above step
        The path will vary based on where you decide to create the model
        I usually create my models in something like shared/models/ */

        @Component(&#123;
        selector : 'sidenav-item',
        templateUrl: './sidenav-item.component.html'
        })

        export class SidenavItemComponent &#123;
        @Input() menuItem: SidenavMenuItem;
        private _showChildren: boolean = false;

        clicked(event: MouseEvent) &#123;
        this._showChildren = !this._showChildren;
        }
        }
        </pre>
        <strong>sidenav-item-component.html</strong>
        <pre>
        &lt;li *ngIf="!menuItem.hasChildren">
        &lt;span class="sec-title" *ngIf="menuItem.secTitle != ''">&#123;&#8203;&#123;menuItem.secTitle}&#8203;}&lt;/span>
        &lt;a href="javascript:void(0);">
        &lt;span class="menu-title">&#123;&#8203;&#123;menuItem.title}&#8203;}&lt;/span>
        &lt;/a>
        &lt;/li>
        &lt;li *ngIf="menuItem.hasChildren" class="show-drop &#123;&#8203;&#123;_showChildren?'active':''}&#8203;}"
        (click)="clicked($event)">
        &lt;span class="sec-title" *ngIf="menuItem.secTitle != ''">&#123;&#8203;&#123;menuItem.secTitle}&#8203;}&lt;/span>
        &lt;a href="javascript:void(0);">
        &lt;span class="menu-title">&#123;&#8203;&#123;menuItem.title}&#8203;}&lt;/span>
        &lt;/a>
        &lt;div class="collapse-side">
        &lt;ul>
        &lt;sidenav-item *ngFor="let childMenuItem of menuItem.children" [menuItem]="childMenuItem">
        &lt;/sidenav-item>
        &lt;/ul>
        &lt;/div>
        &lt;/li>
        </pre>

        <strong>sidenav.component.ts - or whatever the name of the component that you are using the slider panel in:</strong>
        <pre>
        import &#123;Component, Input, OnInit} from '@angular/core';
        import &#123; SidenavMenuItem } from './sidenav-menu-item';
        // import the model you created - from whatever the path is
        <strong>Based on the model - define the menuItems array for use in the markup</strong>
        menuItems = [
        new SidenavMenuItem('Settings', 'User Management', ' ', ' ', [
        new SidenavMenuItem(' ', 'Company Settings', ' ', ' ', null),
        new SidenavMenuItem(' ', 'User Management', ' ', ' ', null),
        new SidenavMenuItem(' ', 'Shared Settings', ' ', ' ', null)
        ]),
        new SidenavMenuItem(' ', 'Users', ' ', ' ', null),
        new SidenavMenuItem(' ', 'Non-employee access', ' ', ' ', null),
        new SidenavMenuItem(' ', 'Roles', ' ', ' ', null),
        new SidenavMenuItem(' ', 'Data Access Groups', ' ', ' ', null)
        ];
        </pre>
        <strong>Then the markup to create the example below would look like this:</strong>
        <pre>
        &lt;md-toolbar color="primary">&lt;/md-toolbar>
        &lt;md-sidenav-container class="sidenav-container">
          &lt;md-sidenav class="sidenav-menu" mode="side" opened align="start">
            &lt;ul>
              &lt;sidenav-item *ngFor="let menuItem of menuItems" [menuItem]="menuItem">&lt;/sidenav-item>
            &lt;/ul>
          &lt;/md-sidenav>
          &lt;div class="sidenav-content">
            Content goes here
          &lt;/div>
        &lt;/md-sidenav-container>
      </pre>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>
        <md-card-title>Slider Panel - with Menu</md-card-title>
        <md-toolbar color="primary"></md-toolbar>
        <md-sidenav-container class="sidenav-container">
          <md-sidenav class="sidenav-menu" mode="side" opened align="start">
            <ul>
              <sidenav-item *ngFor="let menuItem of menuItems" [menuItem]="menuItem"></sidenav-item>
            </ul>
          </md-sidenav>
          <div class="sidenav-content"> <strong>Slider Panel Content</strong>
            <p>The left side panel has a side item component that ...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut libero magna, fermentum ut arcu ac, tempor auctor diam. Morbi facilisis ultrices sem posuere varius. Aliquam erat volutpat.</p>
            <p>Duis convallis orci vitae iaculis mollis. Ut aliquet sagittis mi id blandit. Nullam quis odio vitae ante vulputate cursus. Morbi venenatis scelerisque tortor. Donec lacinia porta lorem ac lobortis. Vivamus egestas porta sem ac accumsan. Integer libero turpis, elementum et feugiat sit amet, scelerisque eget elit. Nulla porttitor vehicula orci, eu molestie quam consectetur nec. Maecenas nec quam porta, mattis nibh non, pellentesque massa. Donec elit arcu, maximus et sodales ut, eleifend ut tortor. Cras posuere est ac mauris faucibus dictum.
              Phasellus a suscipit nulla. In at malesuada justo. Fusce ut sapien porta, auctor tellus eleifend, ultrices mi.</p>
            <p>Donec aliquet mollis risus tincidunt vestibulum. Nunc semper mattis nisi, non bibendum lectus. Cras accumsan augue dui, ut tincidunt orci pharetra auctor. In suscipit, mi vel faucibus consectetur, dui nibh pulvinar dui, vitae bibendum metus quam vitae ante. Nunc aliquam felis at mauris elementum, eleifend congue purus malesuada. Cras laoreet ipsum vitae orci condimentum, eu mattis mauris tincidunt. Nulla ultrices, libero maximus iaculis egestas, lacus dolor lobortis est, nec eleifend mi diam scelerisque mauris. Quisque rutrum malesuada dui, eu laoreet tortor hendrerit a.
              Quisque interdum ipsum a mauris molestie tempus.</p>
            <p>Duis convallis orci vitae iaculis mollis. Ut aliquet sagittis mi id blandit. Nullam quis odio vitae ante vulputate cursus. Morbi venenatis scelerisque tortor. Donec lacinia porta lorem ac lobortis. Vivamus egestas porta sem ac accumsan. Integer libero turpis, elementum et feugiat sit amet, scelerisque eget elit. Nulla porttitor vehicula orci, eu molestie quam consectetur nec. Maecenas nec quam porta, mattis nibh non, pellentesque massa. Donec elit arcu, maximus et sodales ut, eleifend ut tortor. Cras posuere est ac mauris faucibus dictum.
              Phasellus a suscipit nulla. In at malesuada justo. Fusce ut sapien porta, auctor tellus eleifend, ultrices mi.</p>
            <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
              <md-input-container class="ml-xs mr-xs">
                <input mdInput placeholder="Name" type="text">
              </md-input-container>
              <md-input-container floatplaceholder="auto" class="ml-xs mr-xs">
                <input mdInput placeholder="Email" type="email">
              </md-input-container>
            </div>
            <p>
              <button md-raised-button color="primary">Some Button</button>
            </p>
          </div>
        </md-sidenav-container>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>
        <md-card-title>Slider Panel - Layout that mimics the sample site</md-card-title>
        <pre>
       <strong>Just drop this markup in - styling and elements are all part of the Library Module</strong>
       &lt;md-toolbar class="main-header" color="primary"> &lt;/md-toolbar>
       &lt;md-sidenav-container class="app-inner">
          &lt;md-sidenav #sidemenu class="sidebar-panel sidebar-menu-panel"  mode="side" opened>
          <strong>You can do your own thing with the nav </strong>
            &lt;md-nav-list class="navigation">
              &lt;md-list-item>&lt;a href="javascript:void(0);">Home&lt;/a>&lt;/md-list-item>
              &lt;md-list-item>&lt;a href="javascript:void(0);">Basic&lt;/a>&lt;/md-list-item>
            &lt;/md-nav-list>
          &lt;/md-sidenav>
          &lt;router-outlet>&lt;/router-outlet>
        &lt;/md-sidenav-container>
        </pre>
      <md-toolbar class="main-header" color="primary"> </md-toolbar>
        <md-sidenav-container class="app-inner">
          <md-sidenav #sidemenu class="sidebar-panel sidebar-menu-panel"  mode="side" opened>
            <md-nav-list class="navigation">
              <md-list-item><a href="javascript:void(0);">Home</a></md-list-item>
              <md-list-item><a href="javascript:void(0);">Basic</a></md-list-item>
            </md-nav-list>
          </md-sidenav>
          <router-outlet></router-outlet>
        </md-sidenav-container>
      </md-card-content>
    </md-card>

    <md-card class="backdrop-hidden">
      <md-card-content>
        <md-card-title>Slider Panel - Resize</md-card-title>
        <md-sidenav-container class="sidenav-container backdrop-hidden" style="height:225px;padding:0;">
          <md-toolbar color="primary">
            <button md-raised-button color="accent" (click)="start2.toggle()">Toggle SideNav</button>
          </md-toolbar>
          <md-sidenav ngClass="{{sideWidth}}" #start2 opened mode="over" align="end">
            <md-toolbar>
              <button md-button color="primary" (click)="start2.toggle()">Close Sidenav</button>
            </md-toolbar>
            <div class="sidenav-select">
              <md-select placeholder="Select side width" [(ngModel)]="sideWidth">
                <md-option value="sm">Small</md-option>
                <md-option value="med">Medium</md-option>
                <md-option value="lg">Large</md-option>
                <md-option value="xl">Full</md-option>
              </md-select>
            </div>
          </md-sidenav>
          <div class="sidenav-content">
            <md-nav-list>
              <p>Set overlay to hidden: add class="backdrop-hidden" to &lt;md-sidenav-container> </p>
              <button md-button color="primary">Some new link</button>
              <br/>
              <button md-button color="primary">Another link</button>
            </md-nav-list>
          </div>
        </md-sidenav-container>
      </md-card-content>
    </md-card>
    <!--    <md-card>
      <md-card-content>
        <md-card-title>Dynamic Alignment Sidenav</md-card-title>
        <md-sidenav-container style="height:100px;padding:0;" class="sidenav-container">
          <md-sidenav class="sm" #dynamicAlignSidenav1 mode="side" [align]="invert ? 'end' : 'start'">
            <p>Start</p>
          </md-sidenav>
          <md-sidenav class="sm" #dynamicAlignSidenav2 mode="side" [align]="invert ? 'start' : 'end'">
            <p>End</p>
          </md-sidenav>
          <div class="sidenav-content">
            <button md-button color="primary" (click)="dynamicAlignSidenav1.toggle(); dynamicAlignSidenav2.toggle()"> Toggle sidenavs </button>
            <button md-button color="primary" (click)="invert = !invert">Change sides</button>
          </div>
        </md-sidenav-container>
      </md-card-content>
    </md-card> -->
    <md-card>
      <md-card-content>
        <md-card-title>Slider Panel with Focus Attributes</md-card-title>
        <md-sidenav-container  class="sidenav-container">
          <md-sidenav class="sm" #focusSidenav>
            <md-nav-list> <a md-list-item routerLink>Link item-2</a> <a md-list-item routerLink cdk-focus-region-start>Focus region start</a> <a md-list-item routerLink>Link</a> <a md-list-item routerLink cdk-focus-initial>Initially focused</a> <a md-list-item routerLink cdk-focus-region-end>Focus region end</a> <a md-list-item routerLink>Link</a>&nbsp; </md-nav-list>
          </md-sidenav>
          <div class="sidenav-content">
            <p><strong>Content</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut libero magna, fermentum ut arcu ac, tempor auctor diam. Morbi facilisis ultrices sem posu
            <div>
              <header>Sidenav</header>
              <button md-button color="primary" (click)="focusSidenav.toggle()">Toggle Drawer</button>
            </div>
          </div>
        </md-sidenav-container>
      </md-card-content>
    </md-card>
  </md-card-content>
</md-card>
